body{
    background-color : #F4F4F4;
    margin           : 0;
    font             : 16px Arial, Verdana, Tahoma, Sans-serif;
    line-height      : 1.3rem;
}

.container{
    width    : 80%;
    //border: 1px dashed #CCC;
    margin   : 50px auto 50px;
    position : relative;
}

.feed{
    padding  : 0;
    margin   : 0;
    height   : 0;
    overflow : hidden;
}

.feed, .style{
    .post{
        list-style            : none;
        opacity               : 0;
        display               : none;
        float                 : left;
        width                 : 240px;
        margin                : 0 1% 1%; padding : 10px;
        background-color      : #FFFFFF;
        -webkit-box-sizing    : border-box;
        -moz-box-sizing       : border-box;
        box-sizing            : border-box;
        -webkit-box-shadow    : 0 1px 2px rgba(100, 100, 100, 0.1);
        -moz-box-shadow       : 0 1px 2px rgba(100, 100, 100, 0.1);
        box-shadow            : 0 1px 2px rgba(100, 100, 100, 0.1);
        -webkit-border-radius : 3px;
        -moz-border-radius    : 3px;
        border-radius         : 3px;

        & > img{
            width : 100%;
        }
        h3{
            margin      : 0 0 1rem;
            font-size   : 1rem;
            font-weight : 400;
            a{
                text-decoration : none;
                color           : #2FA691;
                &:hover{
                    text-decoration : underline;
                }
            }
        }
        .description{
            font-size : 0.875rem;
            color     : #777;
            p{
                margin : 0;
            }
        }
    }
}